{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      alert("{{messages[-1]}}")
    </script>
  {% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>Product Detail</title>
</head>
<body>
    <p3>제목 : {{data.title}}</p3>
    <hr>
    <a href={{url_for('userinfo',username=data.userid)}}>작성자 : {{data.userid}}</a>
    <hr>
    <p2>내용 : {{data.body}}</p2>
    <hr>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="static/bootstrap.js"></script>
</body>
</html>