{% with messages = get_flashed_messages() %}
  {% if messages %}
<script xmlns="http://www.w3.org/1999/html">
      alert("{{messages[-1]}}")
    </script>
  {% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<style>
    .insert {
    padding: 20px 30px;
    display: block;
    width: 600px;
    margin: 5vh auto;
    height: 90vh;
    border: 1px solid #dbdbdb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.insert .file-list {
    height: 200px;
    overflow: auto;
    border: 1px solid #989898;
    padding: 10px;
}
.insert .file-list .filebox p {
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}
.insert .file-list .filebox .delete i{
    color: #ff5353;
    margin-left: 5px;
}
</style>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">My Project</a>
    </div>
    <div class="navbar-collapse collapse" id="searchbar">


      <ul class="nav navbar-nav navbar-right">
         {%if userid%}
        <li id="userPage">
          <a href={{url_for('userinfo',username=userid)}}><i class="icon-user"></i> My Page</a>
        </li>
        <li><a onclick="window.location.href='/logout'" data-prevent="">Logout</a></li>
          {%else%}
           <li id="signIn">
          <a onclick="window.location.href='/signin'"><i class="icon-user"></i> sign in</a>
        </li>
        <li><a onclick="window.location.href='/signup'" data-prevent="">sing up</a></li>
          {%endif%}
      </ul>




     <form class="navbar-form" action="/" method="POST">
        <div class="form-group" style="display:inline;">
          <div class="input-group" style="display:table;">
            <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control" name="search_key" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text">
          </div>
        </div>
      </form>

    </div><!--/.nav-collapse -->
  </div>
</div>
<br>
<div class ="insert">
    <form action= "/edit/{{data._id}}" method="POST" enctype="multipart/form-data">
        <label for="title">제목</label>
        <input type="text" id="title" name="title" value="{{data.title}}"/>
        <br>
        <label for="body">내용</label>
        <textarea name="body" id="body" cols="70" rows="10">{{data.body}}</textarea>
        <br>
        <label for="keyword">키워드</label>
        <input type="text" id="keyword" name="keyword" value="{{data.keyword}}"/>
        <br>
        <br>
        <label for="file">사진1</label>
        <input type="file" name ="file" onchange="addFile(this);" id="file" multiple value="{{data.files}}"/>
        <br>
        <label for="file2">사진2</label>
        <input type="file" name ="file2" onchange="addFile(this);" id="file2" multiple />
        <hr>
        <button type="submit">제출</button>
    </form>
</div>
<script src="{{url_for('static',filename='new.js')}}"></script>
</body>
</html>