{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      alert("{{messages[-1]}}")
    </script>
  {% endif %}
{% endwith %}

<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8"> 
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>SW Project</title>
            <link href="static/bootstrap.min.css" rel="stylesheet">
            <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
        </head>
        <body>
            <style>              <!--div의 클래스 속성 왼쪽 밀착 or 오른쪽 밀착-->
                .left-box {
                  float: left;
                }
                .right-box {
                  float: right;
                }
                </style>
            <h2>SW MARKET
                 <div class="right-box">
                    <button type="button" onclick="window.location.href='/signup'" class="btn btn-primary">Sign Up</button>
                    <button type="button" onclick="window.location.href='/signin'" class="btn btn-primary">Sign In</button>
                 </div>
                 <div class="right-box" style="padding-right : 30px">
                    <h6 id ="status"></h6>
                 </div>
            </h2>
            <hr>
                <div>
                    <button type="button" onclick="window.location.href='/new'" class="btn btn-primary">+ NEW </button>
                 </div>
            <hr>
            <div id="products">
                {% for i in data %}
                    <p3>제목: {{i.title}}</p3>
                    <br>
                    <br>
                {% endfor %}

            </div>

            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script type="text/javascript" src="static/bootstrap.js"></script>
        </body>
    </html>