{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      alert("{{messages[-1]}}")
    </script>
  {% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<style>
  #reg-form1 {
    position: relative;
    top: 50px;
}
</style>
<center>
  <div class="main">
      <div class="two">
        <div class="register" style = "margin-top: 200px">
          <h3>Create your account</h3>
          <form id="reg-form1" method="post">
            <div style = "margin-top: 20px">
              <label for="name">Name</label>
              <input type="text"name="name" id="name" spellcheck="false" placeholder="Yongtae Choi"/>
            </div>
            <div style = "margin-top: 20px">
              <label for="email">Email</label>
              <input type="text"name="email" id="email" spellcheck="false" placeholder="shridhardeshmukh@xyz.com"/>
            </div>
            <div style = "margin-top: 20px">
              <label for="username">Username</label>
              <input type="text"name="username" id="username" spellcheck="false" placeholder="shree33" />
            </div>
            <div style = "margin-top: 20px">
              <label for="password">Password</label>
              <input type="password"name="password" id="password" />
            </div>
            <div style = "margin-top: 20px">
              <label for="password-again">Password Again</label>
              <input type="password"name="passwordagain" id="password-again" />
            </div>
            <div style = "margin-top: 20px">
              <label></label>
              <input type="submit" value="Create Account" id="create-account1" class="button"/>
            </div>
          </form>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </center>
</body>
</html>